body {
    background: lightblue;
}

.container {
    width: 100%;
}

.title {
    text-align: center;
    font-size: 40px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}


.input {
    outline: none;
    padding: 15px 100px 15px 8px;
    border: 1px solid #000;
    border-radius: 5px;
}

.text {
    text-align: center;
}

.reset {
    color: #fff;
    background: red;
    padding: 15px 30px;
    border-radius: 5px;
    border: 1px solid red;
}

.btn {
    color: #fff;
    background: green;
    padding: 15px 30px;
    border-radius: 5px;
    border: 1px solid green;
}
